body {
  font-family: Arial, sans-serif;
}

.API {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}



#display {
  font-size: 36px;
  margin-bottom: 20px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  columns: 3;
  
}


#locationInfo {
  margin-top: 20px;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  text-align: center;
}

#getLocationBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#locationDisplay {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}
